
@font-face {

    font-family: Ubuntu-light;
    src: url(Ubuntu-Light.ttf);

}

@font-face {

    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);

}

html{ 

    font-family: "Ubuntu-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 2px;

    color: #7278ab;
    font-weight: 100;

    background-color: #1c2254;
    background-size: 220vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px;

    display: flex;

}
        
.border{

    display: flex;
    outline: 5px inset #3945ab;
    border: 3px solid rgb(0, 0, 0);
    background-image: url(transparent.png);
    border-width: 1px;
    height: 98vh;
    margin: auto;
    width: 98vw;

    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.construction{

    font-size: 20px;
    outline: 5px inset #3945ab;
    padding: 20px;
    width: fit-content;
    background-image: url(transparent.png);

}

