
@font-face {
    font-family: Ubuntu-light;
    src: url(Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}

html{ 

    font-family: "Ubuntu-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 2px;

    color: rgb(255, 255, 255);
    font-weight: 100;

    background-color: rgb(255, 255, 255);
    background-size: 220vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px;

    display: flex;

}
        
.border{

    display: flex;
    outline: 5px inset rgb(148, 141, 141);
    border: 3px solid rgb(0, 0, 0);
    background-image: url(transparent.png);
    border-width: 1px;
    height: 99vh;
    margin: auto;
    width: 99vw;


    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.construction{

    font-size: 20px;
    outline: 5px inset rgb(0, 0, 0);
    padding: 20px;
    width: 850px;


}

