
@font-face {
    font-family: Ubuntu-light;
    src: url(Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url(Ubuntu-Regular.ttf);
}

html{ 

    font-family: "Ubuntu-Light", sans-serif;
    font-style: normal;
    font-weight: 300;

    color: rgb(255, 255, 255);
    font-weight: 100;

    background-color: rgb(85, 85, 85);
    background-image: url(background.jpg);
    background-size: 220vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px

}
        
.border{

   outline: 1px inset rgb(126, 126, 126);
   border: 2px solid rgb(0, 0, 0);
   background-image: url(transparent.png);

   border-radius: 30px;
   border-width: 1px;
   justify-content: center;
   align-items: center;
   height: 99vh;
   margin: auto;
   width: 99%;

}

.textdetails{

    line-height: 2px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

}

.hi{

    line-height: 5px;
    font-size: 7vh;
    padding-top: 20px;
    font-family:"Ubuntu-Regular";

}

.pronouns{

    font-size: small;

}

.flag{

    width: 15px;

}

.largefix{

    font-size: 25px;
    font-family:"Ubuntu-Regular";
    border-bottom: 10px splid red;
}

.smallfix{

    line-height: normal;
    font-size: 15px;
}

div{

     padding: 2vh;

}

.buttondesign{

    height: 40px;
    width: 200px;
    background-size: 20px;
    background-color: rgba(255, 255, 255, 0.123);
    border: 0px;
    border-radius: 5px;
    color: rgb(255,255,255);
    font-family: "Ubuntu-Regular", sans-serif;

}

a{

    text-decoration: none;
    color: white;
    font-family:"Ubuntu-Regular";

}

.bottomscreen{

    padding: 0px;
    margin: 10vh;

}

.test{

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7vw;
    line-height: normal;

}

.subdiv{

    border: 1px solid rgb(248, 248, 248);
    padding: 0px;
    
}