/*i am ivouwa and this is my code*/

/*********************************/


/*
    Font stuffs
*/  

@font-face {

    font-family: Ubuntu-light;
    src: url(./Ubuntu-Light.ttf);

}

@font-face {

    font-family: Ubuntu-Regular;
    src: url(./Ubuntu-Regular.ttf);

}

 
/*
Font settings & Background
*/

.baseline{

    font-family: "Ubuntu-Regular", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 30px;
    font-weight: 100;
    color: #4f6b92;
    text-align: center;

    background-color: #000000;
    background-size: 300vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px;
    background-image: url(./images/bg.jpg);

    display: flex;
    justify-content: center;
}


/*
Main border
*/

.border{
    
    display: flex;
    margin: 20px;
    height: fit-content;
    width: fit-content;  

    outline: 5px outset #25405b;
    border-width: 1px;
    background-image: url(./images/lightertransparent.png);
 
    justify-content: space-between;
    flex-direction: column;

}


/*
Attaches times to .border
*/

.nomargin{

    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;

    line-height: normal;
    padding: 20px;

}


/*
Divider stuff

div sets padding 
.sub makes the font smaller then base (30px --> 20px)
.subdiv is a horizontal divider, unused
*/

div{
    padding: 10px;
}

.sub{
    font-size: 20px;
}

.subdiv{
    padding: 0px;
    margin: inherit;
    outline: 1px solid #091c5e;
}


/*
Forces links to look like the rest of the text
*/

a{
    text-decoration: none;
    color: inherit;
}


/*
makes a dashed line to the left of text
used for seperating
*/

.rightborder{

    padding: 0px;
    padding-right: 10px;
    padding-left: 5px;
    margin: 0px;

    border-right:#4f6b92 dashed 2px;

}


/*
scales the flag
*/

.flagscaling{
    width: 23px;
    padding-top: 1px;
} 
 

/*
Used for the footer
Holds the left and the right sides of .border more open
Borrows from .nomargin to attach it to the bottom
*/

footer{

    padding: 20px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    width: fit-content;
    height: fit-content;
    line-height: normal;
    
    
    color: inherit;
    font-size: 20px;
    
}
