
@font-face {

    font-family: Ubuntu-light;
    src: url(./Ubuntu-Light.ttf);

}

@font-face {

    font-family: Ubuntu-Regular;
    src: url(./Ubuntu-Regular.ttf);
    color: #8d8d8d;

}


.baseline{

    font-family: "Ubuntu-Regular", sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 30px;
    font-weight: 100;
    color: #4f6b92;
    text-align: center;

    background-color: #000000;
    background-size: 300vh;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -300px;
    background-image: url(./images/background.jpg);

    display: flex;
    justify-content: center;


/*
Mostly background stuff and setting the font and text color
*/

}
 
.border{
    
    display: flex;
    outline: 5px outset #25405b;
    background-image: url(./images/transparent.png);
    border-width: 1px;
    height: fit-content;
    margin: 20px;
    width: fit-;    
    justify-content: space-between;
    flex-direction: column;
/*
main border around everything, centeres everything horizontally
*/
}

.nomargin{

    display: flex;
    font-size: 20px;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    line-height: normal;
    color: #4f6b92;

/*
use this to atttach items to .border
*/
    
}

.center{

    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;

/*
Tells flex to center everything and put it in a row
*/
}

.boxdesign{

    font-size: 20px;
    outline: 5px solid #212529;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-image: url(./images/lightertransparent.png);
    line-height: normal;
    margin: 100px;

/*
Use this to make a box with a simple design
*/
    
}

div{
    padding: 10px;
/*
basic div value
*/
}

.subdiv{
    padding: 0px;
    margin: inherit;
    outline: 1px solid #091c5e;
/*
Use this to make thin horizontal deviders
*/
}

a{
    text-decoration: none;
    color: inherit;
/*
Forces links to not have underlines and weird colors
*/
}

.rightborder{
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
    padding-left: 5px;
    border-right:#4f6b92 dashed 2px;
/*
makes a dashed line to the left of text
*/
}

.flagscaling{
    width: 23px;
    padding-top: 1px;
/*
scales the traggot flag
*/
} 

.descriptortext{
    padding-bottom: 4px;
    margin-bottom: 4px;
    line-height: 20px;
/*
makes text have less line height so it's closer to the contents under it
*/
}

footer{
    padding: 20px;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    color: #4f6b92;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
    line-height: normal;

}

/*


footer code, borrows stuff from .nomargin


*/
